{% extends "base.html" %}
{% load static %}

{% block content %}
<h3>User Details</h3>

{% if user.is_authenticated %}
    <p>Username: {{user.username}}</p>
    <p>Name: {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <div class=" align-items-center">
	     <div class="align-items-center">
		       <h1 class="text-center">About US</h1>
{% endif %}


<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'aniketp.jfif' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Aniket Prakash</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'akash.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Akash Gupta</h5><span class="small text-uppercase text-muted">Art Director</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'aman.jfif' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Aman Jain</h5><span class="small text-uppercase text-muted">Web Designer</span>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4"><img src="{% static 'anikets.jpg' %}" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Aniket Sinha</h5><span class="small text-uppercase text-muted">Designer</span>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</div>
















	       </div>
    </div>

{% endblock  %}
