{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>{% trans "Example Quiz Website" %} | {% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">

  <!-- styles -->
  <!--<link rel="stylesheet" href="">-->

  <link rel="stylesheet" href="{% static 'styles.css'%}" integrity=""crossorigin="anonymous">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
<script src=""></script>
<![endif]-->
<!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!-- JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'newstyle.css' %}" integrity=""crossorigin="anonymous">
    <script type="text/javascript">
    (function(){
        'use strict';
        var $ = jQuery;
        $.fn.extend({
            filterTable: function(){
                return this.each(function(){
                    $(this).on('keyup', function(e){
                        $('.filterTable_no_results').remove();
                        var $this = $(this),
                            search = $this.val().toLowerCase(),
                            target = $this.attr('data-filters'),
                            $target = $(target),
                            $rows = $target.find('tbody tr');

                        if(search == '') {
                            $rows.show();
                        } else {
                            $rows.each(function(){
                                var $this = $(this);
                                $this.text().toLowerCase().indexOf(search) === -1 ? $this.hide() : $this.show();
                            })
                            if($target.find('tbody tr:visible').size() === 0) {
                                var col_count = $target.find('tr').first().find('td').size();
                                var no_results = $('<tr class="filterTable_no_results"><td colspan="'+col_count+'">No results found</td></tr>')
                                $target.find('tbody').append(no_results);
                            }
                        }
                    });
                });
            }
        });
        $('[data-action="filter"]').filterTable();
    })(jQuery);

    $(function(){
        // attach table filter plugin to inputs
        $('[data-action="filter"]').filterTable();

        $('.container').on('click', '.panel-heading span.filter', function(e){
            var $this = $(this),
                $panel = $this.parents('.panel');

            $panel.find('.panel-body').slideToggle();
            if($this.css('display') != 'none') {
                $panel.find('.panel-body input').focus();
            }
        });
        $('[data-toggle="tooltip"]').tooltip();
    })

    </script>
</head>


<body style="">

  <nav class="navbar navbar-expand-md navbar-dark bg-secondary text-uppercase fixed-top">
    <a class="navbar-brand fontLarge" href="{% url 'index' %}">We the Koder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarXs">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsingNavbarXs">
      <ul class="navbar-nav rm-auto">
        {% if user.is_authenticated %}
        <li class="nav-item py-3 px-0 px-lg-3 rounded text-dark" style="color:gray">
          <a href="{% url 'quiz_index' %}" class="nav-link">Quizzes</a>
        </li>
        <li class="nav-item py-3 px-0 px-lg-3 rounded text-dark" style="color:gray">
            <a href="{% url 'quiz_progress' %}" class="nav-link">Progress</a>
          </li>
        {% endif %}

      </ul>
      <ul class="navbar-nav ml-auto">
        <li><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'aboutus' %}">About Us</a></li>
        <li class="nav-item ">
          {% if user.is_authenticated %}
          <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounts</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="nav-link py-3 px-4 px-lg-3 rounded text-dark" href="{% url 'feedback_us' %}">Feedback</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link py-3 px-4 px-lg-3 rounded text-dark" href="{% url 'password_change' %}">Change Password</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link py-3 px-4 px-lg-3 rounded text-dark" href="{% url 'logout' %}">logout</a>
            </div>
          {% else %}
          <li><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>


  <!-- Before the quiz content -->

  <div class="container jumbotron" style="margin-bottom:0px;">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-warning alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><sup>&times;</sup></span>
      </button>
      {{message}}
    </div>
    {% endfor %} {% endif %} {% block content %} {% endblock %}

</div>
<!-- Footer -->
<footer class="footer text-center" style="background-color:#4682b4;">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase text-primary"><a class="text-white fontLarge foot-link" href="{% url 'index' %}">We the Koders</a></h4>
                        <p class="lead mb-0">Enjoy FREE tests from extensive range of categories and move top of the LEADERBOARD.</p>
                    </div>

                    <!-- Footer About Text-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4 text-primary"><a class="text-white fontLarge foot-link" href="{% url 'aboutus' %}">About us</a></h4>
                        <p class="lead mb-0">To know about our website developer please click the above link!</p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4"><a class="text-white fontLarge foot-link" href="{% url 'feedback_us' %}">Feedback</a></h4>
                        <p class="lead mb-0">Send Us your valueable Feedback !</p>
                    </div>
                </div>
            </div>
        </footer>
</body>

</html>
