{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}

<div class="container py-5" style="">
    {% if user.is_authenticated %}
      <p class="fontLarge" style="text-align:center;">{% trans "You have already sat this exam and only one sitting is permitted" %}.</p>
    {% else %}
      <p class="fontLarge" style="text-align:center;">{% trans "This exam is only accessible to Logged in users, Please login to Continue" %}.</p>
    {% endif %}
</div>


{% endblock %}
